* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');



/* 👾​👽​👹​💩​💀​🙈​🤯​🤡 */

h1{
    color: orange;
    border: solid;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    font-family:"Bungee Spice";
    margin: 20px;
    padding: 20px;
    background-color: rgb(245, 245, 164);
    border-radius: 16px;
    box-shadow: 0 4px 30px ;

}

#instrucciones{
padding: 30px;
text-align: center;
}

#tituloInstrucciones{
    padding: 10px;
}

#listaNormas{
    text-align: left;
    padding: 0 0 0 60px;
}

#jugar{
    text-align: center;
    
}

#tablaPuntos{
    text-align: center;
    margin:20px;
}

#tablaEmojis{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  width: 100%;
  
}

.cuadrado{
    background-color: yellow;
    height: 400px;
    width: 400px;
    border-radius:10px;
    
    
}

#tablaEmojis li{
    text-decoration: none;
}

.caraTrasera{
    max-width: 45px;
}

