@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bungee Spice', sans-serif;
    background-image: linear-gradient(rgba(255, 255, 255, 0.567), rgba(255, 255, 255, 0.567)), url('../images/fp_1.jpg');
    background-size: cover;
}

h1 {
    text-align: center;
    color: orange;
    border: solid;
    text-transform: uppercase;
    font-size: 3rem;
    font-family: "Bungee Spice";
    margin: 20px;
    padding: 5px;
    background-color: rgb(245, 245, 164);
    border-radius: 16px;
    box-shadow: 0 4px 30px;
}

h2, #listaNormas {
    padding: 10px;
    margin: 10px;
    text-align: center;
    list-style-position: inside;
        
}

/* #######################################
  ## Codigo para lo emojis en el indice ##
  ########################################
*/

#listaNormas {
    list-style-type: none;
  }
  
  #listaNormas li:before {
    margin-right: 8px;
    font-size: 0.8em;
    vertical-align: text-top;
  }
  
  #listaNormas li:first-child:before {
    content: '👾';
  }
  
  #listaNormas li:nth-child(2):before {
    content: '🙈';
  }

  #listaNormas li:nth-child(3):before {
    content: '👹';
  }
  
  #listaNormas li:last-child:before {
    content: '🤯';
  }

#contenedor {
    display: flex;
    justify-content: center;
}

#instrucciones {
    display: inline-block;
    margin: 10px;
    margin-top: 10px;
    border-radius: 300px;
    background-color: rgba(255, 255, 108, 0.9);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border: 2px solid orange;
}

#jugar, #intentos, #contenedor, #contenido, .miBoton {
    text-align: center;
}

.cuadrado {
    background-color: yellow;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border: 2px solid orange;
}

#tablaEmojis {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    gap: 10px;
}

#tablaEmojis > * {
    width: calc(25% - 10px);
}

#tablaEmojis > li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#tablaEmojis > li .caraDelantera,
#tablaEmojis > li .caraTrasera {
    transition: transform 1s ease; /* TransiciÃ³n para suavizar el efecto */
    transform-style: preserve-3d;
    background-color: rgb(233, 164, 68);
    width: 200px;
    height: 100px;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

#tablaEmojis > li .caraDelantera {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

#tablaEmojis > li .caraTrasera {
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

#tablaEmojis > li.girada .caraDelantera {
    transform: rotateY(0deg);
}

#tablaEmojis > li.girada .caraTrasera {
    transform: rotateY(180deg);
}

.caraTrasera {
    position: absolute;
    z-index: 2;
}

.caraTrasera {
    max-width: 100%;
    max-height: 80px;
    color: black;
    text-align: center;
}

.caraDelantera {
    display: none;
    max-width: 100%;
    max-height: 80px;
    color: black;
    text-align: center;
}

.caraDelantera:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 146);
}

.caraTrasera:hover {
    display: none;
    cursor: pointer;
    background-color: rgb(255, 255, 146);
}

.emojis{
    font-size:50px; 
}

.miBoton {
    border: 1px solid orange;
    font-size: 16pt;
    font-family: Bungee Spice;
    background-color: rgb(245, 245, 164);
    margin: 0 0 5px 0;
    padding: 10px 15px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.miBoton:hover {
    background-color: yellow;
}

.miBoton:active {
    background-color: orange; 
}

img {
    width: 50px;
    height: auto; 
}

#pieDePagina{
    font-family: sans-serif;
    font-size: 0.5rem;
    margin: 10px;
}


#contenedorBoton {
    display: flex;
    justify-content: center;
}
