@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bungee Spice', sans-serif;
}

h1 {
    text-align: center;
    color: orange;
    border: solid;
    text-transform: uppercase;
    font-size: 3rem;
    font-family: "Bungee Spice";
    margin: 20px;
    padding: 20px;
    background-color: rgb(245, 245, 164);
    border-radius: 16px;
    box-shadow: 0 4px 30px;
}

h2, #listaNormas {
    padding: 10px;
    margin: 20px;
    text-align: center;
    list-style-position: inside;
}

#jugar, #tablaPuntos, #contenedor, #contenido, #botonVolverJugar {
    text-align: center;
}

#instrucciones {
    display: inline-block;
    margin: auto;
    margin-top: 20px;
}

#contenedor {
    display: flex;
    justify-content: center;
}

#tablaEmojis {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 10px;
}

#tablaEmojis > * {
    width: calc(25% - 10px);
}

.cuadrado {
    background-color: yellow;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    margin: 20px;
}

.caraDelantera {
    display: none;
}

.caraTrasera {
    max-width: 45px;
    color: black;
    text-align: center;
    /* Otros estilos específicos si los tienes */
}

#tablaEmojis > li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


#botonVolverJugar{
    font-family: 'Bungee Spice', sans-serif;
}